.model-container {
    /* margin: 0.1rem; */
    position: fixed;
    top: 38px;
    min-width: 640px;
    min-height: 655px;
    background: #242335;
    border-radius: 33px;
}

.model-title {
    margin: 1rem;
}

.model-basic-info-title {

    color: #7430a6;
    margin: 1rem;
}

.model-name {

    display: flex;
}

.model-contact-number {

    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 389px
}

.model-email-address {

    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 389px
}

.model-date-of-birth {

    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
}

.model--last-name {

    float: left;
    margin-left: 45px;
}

.model-first-name {

    margin-left: 1rem;
}

.input {

    background: grey;
    border-radius: 7px
}

.model-street-address {

    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 389px
}

.model-surb {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
}

.model-city {
    
}

.model-postal-code {

}

.model-country{

}

.skill-item {

    display: flex;
}

.model-last-name {
    margin-left: 11rem;
}

.skill-item {
    
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;

}

.larger-input {
    width: 506px 
}

.select-input {
    width: 171px;
    margin-left: 4px;
    border-radius: 4px;
}

.modal-add-skill-button{
    margin-left: 1rem;
    background: grey;
    border-radius: 7px;
    margin-top: 1rem;
    width: 512px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.model-action-buttons{
    display: flex;
    right: 0;
    position: absolute;
    bottom: 0px;
}

.model-action-button{
    width: 91px
}

.error{
    margin-left: 1rem;
    margin-top: 1rem;
    width: 512px;
    text-align: center;
    color: red;
}

.delete-button {
    margin-top: 1.2rem;
    margin-left: 0.5rem;
    color: white;
}

